.projects {
    animation: fadeInUp 1s ease;
}

.news {
    animation: fadeInUp 1s ease;
}

.about {
    animation: fadeInUp 3s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Georgia', serif;
}

header {
    background-color: #333;
}

header .navbar-brand {
    color: #fff;
    transition: color 0.3s ease;
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
}

header .navbar-brand:hover {
    color: rgb(173 216 230);
}

.projects, .news, .about {
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.javascript{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
}
.projects h3, .news h3, .about h3 {
    color: #333;
    font-family: 'Georgia', serif;
}

.footer-custom {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer-container {
    padding-bottom: 60px;
}

.footer-custom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-custom a:hover {
    color: #ddd;
}

.contact-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contact-links i {
    margin-right: 5px;
    color: #fff;
}

.contact-links a {
    margin-right: 10px;
    color: #fff;
}

@media (max-width: 767px) {
    .contact-links a {
        display: block;
        margin-bottom: 10px;
    }

    .footer-custom {
        position: relative;
        width: 100%;
    }
}